#!/usr/bin/env bash

# shellcheck disable=SC1090
url="https://raw.githubusercontent.com/paisano-nix/direnv/main/lib"
hash="sha256-IgQhKK7UHL1AfCUntJO2KCaIDJQotRnK2qC4Daxk+wI="
source "$(direnv fetchurl $url $hash)"

use env //bookmarks/devshells/default
